@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
  margin:0 auto;
  max-width:700px;
  padding:16px;
}

h3{
  color: coral;
}

footer{
  text-align:center;
}