@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
  }
  

html {
    scroll-behavior: smooth;
  }

  body{
    background:url(shanshui.jpg);
    
    background-size:contain
  }

  header {
     color:#6b4027;
    padding: 3rem;
    margin-bottom: 3rem;
  }

  h1{
    font-family: 'Diplomata SC', cursive; 
  }

  h2{
    font-size: 1.2rem;
    margin:1.5rem 0;
  }
  h2,a ,p{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bolder;
   
  }

  ul,a{
    color:#f7b67a;

  }

  a:hover{
    color:#2b141b;

  }
  nav a {
    font-size: 1rem;
    text-decoration-line: none;
    margin-right: 1rem;
  }

  P{
    color:#6b4027;
    font-size:1rem;
    margin:1.5rem 0;
    line-height:1.5em;;
  }
  
  .center{
    max-width: 33rem;
  margin: 0 auto;
  }
  .container {
    width: 30rem;
    height: 40rem;
    border: 5px inset #f7b67a ;
   
    position: relative;
    font-family: Arial;
    display: inline-block;
    margin: 1rem;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
  
  .overlay {
    background-color: rgba(107, 64, 39, .5);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1rem;
    font-family:'Diplomata SC', cursive ;
    color: #f7b67a;
    
    display: grid;
    place-items: center;
    
    transition: opacity .4s;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }


.back-to-top {
    color: white;
    background-color: #f7b67a;
    padding: 1.25em 1em;
    line-height:0;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 1em;
    text-decoration: none;
    border-radius: 10px;
  }

  footer{
    color:#6b4027;
    font-family:'Diplomata SC', cursive;
    text-align: center;
    margin:0 auto;
    padding: 2.5rem;;
}